.logo {
    height: 50px;
    width: 300px;
}
.menu-background {
    background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.menu-title {
    padding-left: 10px;
    font-family: 'Shrikhand';
}
.menu-items {
    background: #f3f3f3;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: -60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.border-line {
    width: 40px;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    background: #99E2D0;
}
.entrees h4 {
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 0;
    font-weight: 200;
}
.entree-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    align-items: center;
}
.entree-item {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 95%;
    background: white;
}
.main-dishes h4 {
    text-transform: uppercase;
    margin-bottom: 0;
    padding-left: 15px;
    font-weight: 200;
}
.dish-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    align-items: center;
}
.dish {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 95%;
    background: white;
}
.desserts h4 {
    text-transform: uppercase;
    margin-bottom: 0;
    padding-left: 15px;
    font-weight: 200;
}
.dessert-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    align-items: center;
}
.dessert-item {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    width: 95%;
    background: white;
}
.menu-items button {
    /* background: #FF79DA; */
    background-image: linear-gradient(#FF79DA, #9356DC);
    width: 150px;
    height: 30px;
    color: white;
    border: 1px solid #FF79DA;
    border-radius: 20px;
}
.footer-wrapper {
    background: black;

}
.footer {
    color: white;
    font-family: 'Roboto', sans-serif;
}