* {
    box-sizing: border-box;
}
body {
    font-family:'Roboto', sans-serif;
    font-weight: 300;
}
.logo {
    height: 50px;
    width: 300px;
}
.location {
    background: #ccc;
    height: 20px;
    text-align: center;
}
.location .fa-map-marker {
    height: 20px;
    width: 20px;
}
.btn-wrapper {
    margin: 0;
    text-align: center;
}
.explore-text button {
    /* background: #FF79DA; */
    background-image: linear-gradient(#FF79DA, #9356DC);
    width: 200px;
    height: 30px;
    color: white;
    border: 1px solid #FF79DA;
    border-radius: 20px;
}
.explore-text {
    background: #f3f3f3;
}
.instructions ol {
    list-style: none;
    counter-reset: button;
}
.instructions li {
    counter-increment: button;
    margin-bottom: 5px;
}
.instructions li:before {
    border-radius: 100%;
    width: 20px;
    margin-right: 5px;
    content: counter(button);
    color: white;
    background: #9356DC;
    display: inline-block;
    text-align: center;

}
.instructions button {
    background-color: #F3F3F3;
    color: black;
    height: 50px;
    width: 90%;
    box-shadow: 0px 10px 10px #ccc;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
}
.instructions button:hover {
    background-color: #9356DC;
    color: black;
    opacity: 0.4;
}
.restaurants-wrapper {
    background: #f3f3f3;
}
.restaurant-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.plate-card {
    height: 250px;
    width: 95%;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.plate-img1 {
    position: relative;
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
}
.plate-img2 {
    position: relative;
    background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
}
.text-block {
    position: absolute;
    text-align: center;
    top: 10px;
    right: 10px;
    background-color: #99E2D0;
    color: #56a894;
    padding-left: 15px;
    padding-right: 15px;
}
.plate-img3 {
    background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
}
.plate-img4 {
    background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%;
}
.plate-content {
    padding: 10px;
    line-height: 5px;
}
.fa.fa-heart-o {
    position: relative;
    outline: 0;
    overflow: hidden;
    z-index: 100;
}
.fa.fa-heart-o::after {
    content:"";
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #9356dc;
    border-radius: 45%;
    animation: spin 3s ease-in-out forwards;
}
@keyframes spin {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(-100%) rotate(500deg);
    }
}
.fa.fa-heart-o:hover::after {
    animation: spin 3s ease-in-out infinite;
}
.footer-wrapper {
    background: black;

}
.footer-list {
    color: white;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
.footer-list li:first-of-type {
    font-family: 'shrikhand';
}
.footer a {
    text-decoration: none;
}